.menu-btn {
  display: none;
  width: 44px;
  height: 37px;
  position: relative;
  background-color: black;
}

.menu-btn span {
  width: 17px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 35%;
  background-color: white;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.clickable-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 66px;
  right: 0px;
  width: 182px;
  height: 200px;
  background-color: #f5f5f5;
  padding-top: 5px;
  transform: translateX(100%);
  transition: transform 0.5s;
  .clickable-menu__link {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: $textColor;
    padding: 2.5px 15px;
  }
}
.clickable-menu__link:hover {
  background-color: #e7e6e6;
}

.clickable-menu__link.select {
  color: #57a4a4;
}

.menu-btn.active span:first-of-type {
  opacity: 0;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

@media screen and (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  .menu-btn.active .clickable-menu {
    transform: translateX(0%);
  }
}
