.header-image {
  padding: 34px 0 69px 0;
  width: 100%;
  &__img {
    max-width: 100%;
    height: auto;
  }
  @media (max-width: 768px) {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
