.heading {
  @include font-style;
  color: $textColor;
}
.recent-posts__heading {
  @include text-style;
  padding-bottom: 24px;
}
.instagram-headings {
  @include flex-center;
  justify-content: space-between;
  .instagram-headings__shots {
    @include text-style;
  }
  .instagram-headings__page {
    font-weight: 700;
    font-size: 13px;
    @include text-style;
    color: $textColor;
  }
  .instagram-headings__shots,
  .instagram-headings__page {
    padding-bottom: 24px;
  }
}
.footer__heading {
  font-weight: 700;
  font-size: 16px;
  color: #fefefe;
  @include text-style;
  padding-top: 66px;
}
