.top-menu {
  @include flex-center;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  .top-menu__link {
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: $textColor;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    padding: 16px 0;
    &:hover {
      color: #57a4a4;
    }
  }
}
@media screen and (max-width: 768px) {
  .top-menu {
    display: none;
  }
}
