.footer {
  background: #000000;
  .footer-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer__icons {
    padding-top: 37px;
  }
  .footer__description {
    line-height: 28px;
    color: #b9b9b9;
    text-align: center;
    max-width: 684px;
    padding-top: 22px;
  }
  .footer__contacts {
    line-height: 26px;
    text-align: center;
    color: #b9b9b9;
    padding: 34px 0 70px 0;
  }
}
@media screen and (max-width: 320px) {
  .footer-content-wrapper {
    .footer__description {
      width: 303px;
      font-size: 12px;
      line-height: 20px;
      .third-expression {
        display: none;
      }
    }
    .footer__contacts {
      font-size: 14px;
      line-height: 24px;
      width: 235px;
    }
  }
}
