.instagram {
  margin-bottom: 49px;
  .instagram-wrapper {
    display: flex;
    gap: 10px;
    .instagram-wrapper__content img {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .instagram-wrapper {
    display: flex;
  }
  .instagram-wrapper__content:last-child {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .instagram-wrapper__content {
    width: 100%;
    img {
      width: calc(100% - 20px);
    }
  }
  .instagram-headings__page {
    display: none;
  }
  .instagram-wrapper__content:nth-child(2),
  .instagram-wrapper__content:nth-child(3) {
    display: none;
  }
}
