.recent-posts {
  padding-bottom: 69px;
}
.posts-content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 555px);
  gap: 32px 25px;
  .text-content-wrapper {
    padding-left: 20px;
  }
  .posts-content {
    display: flex;

    &__title {
      @include font-style;
      line-height: 30px;
      color: $textColor;
    }
    &__comments {
      font-size: 12px;
      line-height: 20px;
      color: #7c7c7c;
    }
    &__description {
      font-size: 14px;
      line-height: 26px;
      color: #5c5c5c;
      min-width: 404px;
      padding-top: 13px;
    }
  }
}
@media screen and (max-width: 768px) {
  .posts-content-wrapper {
    display: flex;
    flex-direction: column;
    .text-content-wrapper {
      max-width: 555px;
      .posts-content__description {
        width: 404px;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .posts-content {
    display: flex;
    flex-direction: column;

    &__image {
      width: 160px;
    }
    .text-content-wrapper {
      padding-top: 11px;
      padding-left: 0;
      .posts-content__description {
        display: none;
      }
    }
  }
  .posts-content:last-child {
    display: none;
  }
}
